#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* min-width: 1200px; */
}

.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* TODO */
.side-bar {
  min-width: 200px;

}
.main {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

hr {
  width: 100%;
}

button{
  width: 150px;
  padding: 15px/30px;

}
